@use '~/utils/abstracts' as *;

.spinnerWrapper {
  width: rem(30);
  margin: rem(20) auto 0;
}

.errorMsg {
  max-width: 40ch;
  margin-top: rem(20);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
