@use 'sass:math';
@import 'modern-css-reset';

// functions, mixins

@function rem($px) {
  @if type-of($px) == 'number' and math.is-unitless($px) {
    @return math.div($px, 16) * 1rem;
  } @else {
    @error 'The value should be a unitless number (representing px)';
  }
}

@function em($px) {
  @if type-of($px) == 'number' and math.is-unitless($px) {
    @return math.div($px, 16) * 1em;
  } @else {
    @error 'The value should be a unitless number (representing px)';
  }
}

// utilities

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

// variables

// base
